.card{
    height: 660px !important;
    border-radius: 8% !important;
    margin: 60px 0px 60px 0px;
    padding: 14px;
    background-color: $color-secundario !important;
    .card-img-top{
        border-radius: 50% !important;
        height: 350px !important;
      }
      .card-title{
        font-family: $tipografia-1;
      }
  }
  

  