.main-conta{
  padding: 40px 20px;
  .texto-conta{
    font-family: $tipografia-1;
    }
  .formulario{
      display: flex;
      flex-direction: column;
    }
  .mapa{
    @media (max-width: 575.98px) {
        max-width: 100%;
      }
  }
}