.main-equip{
    .titulo-equip{
        padding: 40px 20px 30px;
        font-family: $tipografia-2;
    }
    .texto-equip{
        padding: 0px 10px 30px;
        font-family: $tipografia-1, sans-serif;
    }
    .container-de-imagenes{
        width: auto;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .imagen-equip{
            width: 170px;
            height: 170px;
            border-radius: 30%;
            }
        & :hover{
            transform: scale(1.2);
            transition: 800ms;
            filter: brightness(30%);
            
          }
    }
    .video{
        padding: 0px 0px 40px;
        @media (max-width: 575.98px) {
            max-width: 100% !important;
        }
    }
}