.main-equip{
    .titulo-equip{
        padding: 40px 20px 30px;
        font-family: $tipografia-2;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        animation: auto-escritura 1.5s steps(40, end) forwards;
        @keyframes auto-escritura {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
        @media (max-width: 575.98px) {
            white-space: normal;
            max-height: 6.4em;
            animation: none;
          }
    }
    .texto-equip{
        padding: 0px 10px 30px;
        font-family: $tipografia-1, sans-serif;
        font-size: 24px;
        background-color: $color-quinario;
        text-align: center;
    }
    #ContainerDeImagenes{
        .imagen-equip{
            width: auto;
            height: auto;
            border-radius: 30%;
            max-width: 100%;
            max-height: 100%;
            }
    }
    .video{
        padding: 0px 0px 40px;
        @media (max-width: 575.98px) {
            max-width: 100% !important;
        }
    }
}