.main-index{
    .parrafo{
        padding: 40px 20px;
        font-family: $tipografia-1, sans-serif;
        font-size: larger;
    }
    .segundo-banner{
        width: auto;
        height: 250px;
        background-color: $color-secundario;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .imagen-segundo-banner{
          width: 200px;
          height: 200px;
        }
        & :hover{
            transform: scale(1.3);
            transition: 400ms;
          }
          @media (max-width: 575.98px) {
                height: auto; 
                display: flex;
                flex-direction: column;
              }
      }  
    .container-celu{
        width: auto;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .celu{
            max-width: 50%;
            @media (max-width: 575.98px) {
                max-width: 100%;
                }
          }
        }
    
      
}
