
    .titulo-tcn{
        display: flex;
        justify-content: center;
      }
      .subtitulo-tcn{
        display: flex;
        justify-content: center;
      }
      .imagen-tcn{
        display: flex;
        justify-content: center;
      }
      

