main{
  .titulo-tcn{
    padding: 40px 0px 10px;
    font-family: $tipografia-1, sans-serif;
  }
  .subtitulo-tcn{
    padding: 0px 0px 10px;
    font-family: $tipografia-1, sans-serif;
  }
  .imagen-tcn{
    padding: 0px 0px 10px 0px;
  }
}
      

