footer{
    background-color: $color-primario;
    height: 150px;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    .texto-footer{
        color: $color-terciario;
        font-family: $tipografia-1, sans-serif;
      } 
  }
  